.Rproj.user
.Rhistory
.RData
/Elaborato.aux
/Elaborato.dvi
/Elaborato.log
/Elaborato.out
/Elaborato.pdf
/Elaborato.ps
/chapter-two.tex~
/custom-commands-for-title-page.tex~
/Elaborato.tex~
/Elaborato.toc
/Makefile~
/README.org~
/statistical-models.tex~
/titlePage.aux
/titlePage.tex~
*~